.containerUs {
  background-color: #ffffff;
  max-width: 100%;
}
.containerUs img {
  max-width: 50%;
  height: auto;
  margin-top: 120px;
  margin-left: 550px;
}
.containerUs p {
  font-size: 35px;
  color: #ffffff;
  justify-content: center;
  text-align: center;
  font-family: Verdana;
  text-shadow: #0c4900 0.1em 0.1em 0.2em;
  background-color: #92d709;
  border-radius: 60px;
  width: 70%;
  margin-left: 300px;
  padding: 10px;
}

.ContainerTarjetas {
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15%;
  background-color: #ffffff;
  max-width: 100%;
  border: 2px solid #007bff;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin: 20px;
}
