.active {
  background-color: rgb(235, 178, 164);
}

nav {
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("../images/bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.2);
}

nav .title {
  font-size: 2rem;
  margin: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: verdana;
  text-shadow: rgb(63, 26, 1) 2px 2px 2px;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 26px;
  font-family: Verdana;
  font-style: italic;
  font-weight: lighter;
  text-shadow: rgb(153, 71, 17) 2px 2px 2px;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
}

nav ul li a:not(.active):hover {
  background-color: rgb(206, 205, 205);
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.2rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: green;
  border-radius: 0.2rem;
}

@media (max-width: 480px) {
  nav .menu {
    display: flex;
  }
}
